<div class="grid">
  <div></div>
  <!-- <div><router-outlet name="areaOutlet"></router-outlet></div> -->
  <!-- <app-ground></app-ground> -->

  <div id="buildings">
    <div class="headquarter" style="mix-blend-mode: darken;">
      <!-- Day -->
      <svg viewBox="0 0 180 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 203.643L90.2595 167.331L180 203.434L89.7405 239.745L0 203.643Z" fill="#323332" />
        <path d="M45.6771 201.449L89.9243 183.849L133.917 201.348L89.6699 218.949L45.6771 201.449Z" fill="#C4C4C4" />
        <rect x="45.6771" y="78.5499" width="88.2399" height="122.849" fill="#C4C4C4" />
        <path d="M89.2781 78.5499H133.917V201.399L89.2781 218.949V78.5499Z" fill="#929191" />
        <rect x="45.6771" y="78.5499" width="43.6009" height="122.849" fill="#C4C4C4" />
        <path d="M45.6771 78.6005L89.9243 61L133.917 78.4992L89.6699 96.0997L45.6771 78.6005Z" fill="#5F4C4C" />
        <g filter="url(#filter0_f)">
          <line x1="46.1488" y1="82.2479" x2="88.7071" y2="99.2712" stroke="#D3D588" stroke-linejoin="round" />
        </g>
        <g filter="url(#filter1_f)">
          <line x1="90.0347" y1="99.5848" x2="132.467" y2="82.2493" stroke="#D3D588" stroke-linejoin="round" />
        </g>
        <g filter="url(#filter2_f)">
          <line x1="86.3191" y1="75.9028" x2="86.3191" y2="1" stroke="#C4C4C4" />
        </g>
        <defs>
          <filter
            id="filter0_f"
            x="44.9631"
            y="80.7836"
            width="44.9298"
            height="19.9518"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
          <filter
            id="filter1_f"
            x="88.8456"
            y="80.7864"
            width="44.8104"
            height="20.2613"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
          <filter
            id="filter2_f"
            x="84.8191"
            y="0"
            width="3"
            height="76.9028"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
        </defs>
      </svg>

      <!-- Night -->

      <svg class="dayAndNight" viewBox="0 0 180 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 203.224L90.2595 166.913L180 203.016L89.7405 239.327L0 203.224Z" fill="#191A19" />
        <path d="M45.6771 201.031L89.9243 183.431L133.917 200.93L89.6699 218.53L45.6771 201.031Z" fill="#2B2B2B" />
        <rect x="45.6771" y="78.1316" width="88.2399" height="122.849" fill="#2B2B2B" />
        <path d="M89.2781 78.1316H133.917V200.981L89.2781 218.53V78.1316Z" fill="#121212" />
        <rect x="45.6771" y="78.1316" width="43.6009" height="122.849" fill="#2B2B2B" />
        <path d="M45.6771 78.1822L89.9243 60.5817L133.917 78.081L89.6699 95.6814L45.6771 78.1822Z" fill="black" />
        <g filter="url(#filter0_f)">
          <line x1="46.1488" y1="82.2479" x2="88.7071" y2="99.2712" stroke="#D3D588" stroke-linejoin="round" />
        </g>
        <g filter="url(#filter1_f)">
          <line x1="90.0347" y1="99.5848" x2="132.467" y2="82.2493" stroke="#D3D588" stroke-linejoin="round" />
        </g>
        <g filter="url(#filter2_f)">
          <line x1="86.3191" y1="75.9028" x2="86.3191" y2="1" stroke="#F82727" />
        </g>
        <defs>
          <filter
            id="filter0_f"
            x="44.9631"
            y="80.7836"
            width="44.9298"
            height="19.9518"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
          <filter
            id="filter1_f"
            x="88.8456"
            y="80.7864"
            width="44.8104"
            height="20.2613"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
          <filter
            id="filter2_f"
            x="84.8191"
            y="0"
            width="3"
            height="76.9028"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="0.5" result="effect1_foregroundBlur" />
          </filter>
        </defs>
      </svg>
    </div>
  </div>
  <div id="ground" style="mix-blend-mode: multiply;">
    <svg
      style="height: 100%; width: 100%;"
      viewBox="0 0 1024 232"
      fill="none"
      preserveAspectRatio="xMinYMax slice"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="69.0128" width="954.987" height="232" fill="url(#paint0_linear)" />
      <path
        d="M457.797 0H0V232H110.192H760.424H1016.55C882.83 223.55 740.193 229.51 711.958 134.9C677.071 18 574.951 0 457.797 0Z"
        fill="url(#paint1_linear)"
      />
      <defs>
        <linearGradient id="paint0_linear" x1="546.506" y1="0" x2="546.506" y2="232" gradientUnits="userSpaceOnUse">
          <stop stop-color="#30B3C5" />
          <stop offset="1" stop-color="#30B3C5" />
        </linearGradient>
        <linearGradient id="paint1_linear" x1="569.822" y1="0" x2="569.822" y2="464" gradientUnits="userSpaceOnUse">
          <stop stop-color="#659D5C" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
