:host {
  height: 100%;
  width: 100%;
  // .grid {
  //   height: 100%;
  //   display: grid;
  //   grid-template-rows: 1fr 3fr 230px;
  // }
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 230px;
}

#ground {
  position: fixed;
  z-index: 200;
  bottom: 0;
  width: 100%;
  height: 232px;
}

#buildings {
  position: absolute;
  bottom: 0;
  z-index: 300;
  .headquarter {
    transform: translate(20px, -145px);
    width: 120px;
    position: relative;
    svg {
      position: absolute;
      bottom: 0;
    }
  }
}
