<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon class="example-icon">cloud</mat-icon>
      <span *ngIf="weatherData.main; else loading;">
        {{ weatherData.main.temp }}°
      </span>
      <mat-icon class="example-icon">play_for_work</mat-icon>
      <span *ngIf="weatherData.main; else loading;">
        {{ weatherData.main.pressure }}
      </span>
      <ng-template #loading>
        <mat-progress-spinner [color]="'warn'" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="3" rowHeight="240px">
    <mat-grid-tile colspan="2" rowspan="2">
      <app-rocket></app-rocket>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Crew</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Checklist</h3>
    </mat-grid-tile>
  </mat-grid-list>

</div>