:host {
  width: 100%;
}
:host {
  padding: 16px;
  // display: flex;
  box-sizing: border-box;
  align-content: stretch;
  height: 100%;
}
:host(.noPadding) {
  padding: 0;
}
.full-height {
  height: 100%;
  background: #fff;
}
