@if (currentLocation()) {
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open navigation menu">
      <mat-icon color="primary">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/game/area">
        <mat-icon>public</mat-icon>
        <span>Area</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  </mat-toolbar>
} @else {
  <div class="full-height">
    <app-location-picker></app-location-picker>
  </div>
}

<router-outlet></router-outlet>
<app-sky></app-sky>
<!-- https://codepen.io/amiangie/pen/RRdQAb -->
