<div class="full-center">
  <mat-card class="main-menu-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kourou</mat-card-title>
      <mat-card-subtitle>All is full of stars</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>So, tomorrow is your first day at Kourou. Are you ready? If yes, set the alarm, lie down and sleep - tomorrow will be a great day.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" routerLink="area">Let's do it!</button>
    </mat-card-actions>
  </mat-card>
</div>
